<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find irobot_create_description)/urdf/common_properties.urdf.xacro"/>

<xacro:macro name="raspberry_pi" params="name parent_link:=shell_link *origin">

  <xacro:property name="mass" value="0.001"/>

  <xacro:property name="length_x"   value="${9*cm2m}" />
  <xacro:property name="length_y"   value="${6*cm2m}" />
  <xacro:property name="length_z"   value="${3*cm2m}" />

  <xacro:property name="collision_x_offset"       value="${-0.25*cm2m}" />
  <xacro:property name="collision_y_offset"       value="${1.25*cm2m}" />
  <xacro:property name="collision_z_offset"       value="${0.5*cm2m}" />

  <xacro:property name="link_name" value="${name}"/>
  <xacro:property name="joint_name" value="${name}_joint"/>

  <joint name="${joint_name}" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${link_name}"/>
    <xacro:insert_block name="origin"/>
  </joint>

  <link name="${link_name}">
    <visual>
      <geometry>
       <mesh filename="package://udbot_description/meshes/raspberry_pi_4b.dae" scale=".001 .001 .001" />
      </geometry>
    </visual>
    
    <collision>
      <origin xyz="${collision_x_offset} ${collision_y_offset} ${collision_z_offset}"/>
      <geometry>
        <box size="${length_x} ${length_y} ${length_z}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${mass}"/>
      <inertia ixx="0.0000579181" ixy="0.0" ixz="0.0000090679"
	             iyy="0.0000559785" iyz="0.0" izz="0.0000140955" />
    </inertial>
  </link>

  <gazebo reference="${joint_name}">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="${link_name}">
    <material>Gazebo/Grey</material>
   <!-- <xacro:material_black/> -->
  </gazebo>

</xacro:macro>

</robot>
