 <?xml version="1.0"?>
  <model>
    <name>udbot</name>
    <version>1.0</version>
    <sdf version="1.7">udbot.sdf</sdf>
    <author>
      <name>Christopher Rasmussen</name>
      <email>cer@cis.udel.edu</email>
    </author>
    <description>
      An iRobot Create 3 with extra stuff on top
    </description>
  </model>

